        /* CUSTOM PROPS */
:root {
    --header-bg-color: #2c3e51;
    --primary-bg-color: #21bc9d;
}

        /* UTILS */

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

        /* HEADER */

#header {
  background-color: var(--header-bg-color);
  color: var(--bs-light);
}

#header button {
    background-color: transparent;
}

#header #header-nav li {
    padding: 0 20px;
}

            /* MAIN */

/* Jumbo section */

#jumbo,
#about {
    background-color: var(--primary-bg-color);
    color: var(--bs-light);
}

#jumbo .img {
    min-width: 200px;
    aspect-ratio: 1;
}

#jumbo #jumbo-nav li {
    font-size: .7rem;
    padding: 0px 2px;
}

.star .riga {
    width: 90px;
    border: 2px solid currentcolor;
}

/* Contact section */

#contact form .btn {
    background-color: var(--primary-bg-color);
    color: var(--bs-light);
}

            /* FOOTER */
#footer {
    color: var(--bs-light);
}

/* upper footer */

#upper-footer {
    background-color: #3a546d;
}

#upper-footer ul {
    padding: 0;
}

#upper-footer li {
    margin: 0 5px;
    border: 1px solid currentColor;
    border-radius: 50%;
    width: 40px;
}

#upper-footer li a {
    display: block;
    padding: 15%;
}

#upper-footer .freelance a {
    color: var(--primary-bg-color);
}

#bottom-footer {
    background-color: #2c3e51;
}

#bottom-footer p {
    font-size: .7rem;
}